{% extends 'inc/_containerPage.html' %}
 {% block contentPage %}
{#{% for i in news %}#}
{#     <div class="col-lg-4 col-md-12 mb-4">#}
{#            <!-- Card Wider -->#}
{#            <div class="card card-cascade wider">#}
{##}
{#              <!-- Card image -->#}
{#              <div class="view view-cascade overlay">#}
{#               {% for j in image %}#}
{#                    {% if j.product_id == i.id %}#}
{#                        <img alt="" src="{{ j.image.url }}" class="img-fluid">#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#              </div>#}
{##}
{#              <!-- Card content -->#}
{#              <div class="card-body card-body-cascade text-center pb-0">#}
{##}
{#                <!-- Title -->#}
{#                <h4 class="card-title"><strong>{{ i.title }}</strong></h4>#}
{#                <!-- Text -->#}
{#                <p class="card-text">{{ i.anons }}</p>#}
{##}
{#                <!-- Linkedin -->#}
{#                <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>#}
{#                <!-- Twitter -->#}
{#                <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>#}
{#                <!-- Dribbble -->#}
{#                <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>#}
{##}
{#                <!-- Card footer -->#}
{#                <div class="card-footer text-muted text-center mt-4">#}
{#                  {{ i.created_at }}#}
{#                </div>#}
{##}
{#              </div>#}
{##}
{#            </div>#}
{#     </div>#}
{##}
{#{% endfor %}#}
     <div class="row">
        {% for i in news %}
             <div class="col-12 col-lg-6 mb-4">
                <div class="card testimonial-card">
                  <div class="card-up aqua-gradient lighten-1"></div>
                      <div class="avatar mx-auto white">
                          {% for j in image %}
                            {% if j.product_id == i.id %}
                                <img alt="" src="{{ j.image.url }}" class="img-fluid">
                            {% else %}
                                <img alt="" src="/media/logo-main.png" class="img-fluid">
                            {% endif %}
                          {% endfor %}
                      </div>
                  <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title">{{ i.title }}</h4>
                    <hr>
                    <p><i class="fas fa-quote-left"></i> {{ i.anons }} <i class="fas fa-quote-right"></i></p>
                      <button type="button" class="btn btn-danger btn-rounded">{{ i.created_at }}</button>
                  </div>
                </div>
             </div>
        {% endfor %}
     </div>
{% endblock %}