{% extends 'inc/_containerPage.html' %}
    {% block contentPage %}
<div class="row">
{% for i in branches %}
     <div class="col-lg-4 col-md-12 mb-4">
            <!-- Card Wider -->
            <div class="card card-cascade wider">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                   {% if i.image_title %}
                       <img src="{{ i.image_title.url }}" alt="">
                   {% else %}
                       <img src="/media/no_image.jpg" alt="">
                   {% endif %}
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center pb-0">

                <!-- Title -->
                <h4 class="card-title"><strong>{{ i.name }}</strong></h4>
                <!-- Text -->
                <p class="card-text">{{ i.address }}</p>
                <p class="card-text">{{ i.phones }}</p>
                <p class="card-text">{{ i.email }}</p>
                <!-- Linkedin -->
                <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                <!-- Twitter -->
                <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                <!-- Dribbble -->
                <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                <!-- Card footer -->
                <div class="card-footer text-muted text-center mt-4">
                  {{ i.created_at }}
                </div>

              </div>

            </div>
     </div>

{% endfor %}
</div>
{% endblock %}
