{% extends 'inc/_containerPage.html' %}
    {% block contentPage %}
<div class="row">
{% for i in branches %}
     <div class="col-lg-4 col-md-12 mb-4">
            <!-- Card Wider -->
         <a class="stretched-link" href="{{ i.get_absolute_url }}">
            <div class="card card-cascade wider">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                   {% if i.image_title %}
                       <img class="img-fluid" src="{{ i.image_title.url }}" alt="">
                   {% else %}
                       <img class="img-fluid" src="/media/no_image.jpg" alt="">
                   {% endif %}
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center pb-0">

                <!-- Title -->
                <h4 class="card-title"><strong>{{ i.name }}</strong></h4>
                <!-- Text -->
                <div class="text-left">{{ i.contacts|safe }}</div>

                <!-- Card footer -->
                <div class="card-footer text-muted text-center mt-4">
                  <button type="button" class="btn btn-outline-default btn-rounded waves-effect">
                      <a href="{{ i.get_absolute_url }}">Открыть</a>
                  </button>
                </div>

              </div>

            </div>
         </a>
     </div>

{% endfor %}
</div>
{% endblock %}
