body {
    font-family: 'Podkova', serif !important;
}
a {
    color: #2bbbad;
}
.text-sea-color{
    color: #2bbbad;
}
.mt--100 {
    margin-top: -150px;
}
.mt-200 {
    margin-top: 15%;
}
.z-index-norm {
    z-index: 9;
}
.card-opacity {
    background-color: rgba(255,255,255,.6);
}
.btn-xl {
    padding: .5rem 1rem;
    font-size: 2.75rem;
    line-height: 1.5;
    border-radius: .3rem;
}
@media screen and (max-width: 768px) {
    .btn-xl {
        font-size: 1.5rem;
        padding: .2rem;
    }
    .card hr {
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
    .card h4 {
        font-size: .8rem;
        margin-bottom: 0;
    }
}
/*MAIN MENU AREA*/
.left-mm {
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 10px;
    font-size: 20px;
}
.left-mm a {
    color: #fff !important;
}
@media screen and (max-width: 1500px) {
    .mm-area h2 {
        font-size: 22px;
    }
    .mm-area .nav-link {
        padding: .2rem 1rem;
    }
    .left-mm {
        font-size: 16px;
    }
}
.navbar .navbar-brand img {
    height: auto !important;
}
.testimonial-card .avatar {
    width: 230px;
    margin-top: -60px;
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 0;
}
@media screen and (max-width: 768px) {
    .testimonial-card .avatar {
        width: 120px;
        margin-top: 0;
    }
    .testimonial-card h5 {
        font-size: 12px;
    }
    .testimonial-card .card-body {
        padding: 0;
    }
}


.breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}

.news-area {
    background-color: #F2F2F2;
}
.news-area .btn-more{
    font-size: 50px;
}
.news-area a {
    color: #45526e !important;
}

.news_item-area a{
    color: #a6c;
}