body {
    font-family: 'Montserrat Alternates', sans-serif !important;
}
.mt--100 {
    margin-top: -150px;
}
.mt-200 {
    margin-top: 15%;
}
.z-index-norm {
    z-index: 9;
}
.card-opacity {
    background-color: rgba(255,255,255,.6);
}
.btn-xl {
    padding: .5rem 1rem;
    font-size: 2.75rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.left-mm {
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 10px;
    font-size: 20px;
}
.left-mm a {
    color: #fff !important;
}

.navbar .navbar-brand img {
    height: auto !important;
}