{% load sitetree %}
{% include 'base.html' %}
  <div id="carousel-example-1z" class="carousel slide carousel-fade">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view">

          <!--Video source-->
          <video class="video-intro" autoplay loop muted>
            <source src="http://ereg.mnpcbt.ru/another/film_main_page2.mp4" type="video/mp4" />
          </video>

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
              <div class="row mm-area">
                  <div class="col-12 col-lg-4">
                      <div class="left-mm p-3">
                            {% sitetree_menu from "leftMenu" include "trunk" template "sitetree/menu_bootstrap4.html"%}
                      </div>
                  </div>
                  <div class="col-8 d-none d-lg-block align-self-center">
                    <div class="white-text mx-5 wow fadeIn">
                        <h2 class="text-right">Государственное бюджетное учреждение здравоохранения города Москвы "Московский научно-практический центр борьбы с туберкулезом
                            Департамента здравоохранения города Москвы"</h2>
                        <hr>
                        <h2 class="text-left">The Moscow Research and Clinical Center for Tuberculosis Control of the Moscow Government Department of Health</h2>
                  </div>
                </div>
              </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->


      <!--Third slide-->
      <div class="carousel-item">
        <div class="view">

          <!--Video source-->
          <video class="video-intro" autoplay loop muted>
              <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
          </video>

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Learn Bootstrap 4 with MDB</strong>
              </h1>

              <p>
                <strong>Best & free guide of responsive web design</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                  available. Create your own, stunning website.</strong>
              </p>

              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start free tutorial
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
<div class="row ml-0 mr-0 mt--100">
    <div class="col-12 col-md-3 z-index-norm">
        <div class="card shadow-sm p-3 text-center">
            <i class="fas fa-mobile-alt pink-text btn-xl"></i>
            <hr>
            <h4>Справочная служба:</h4>
            8-499-268-25-00
            <h4>Телефон горячей линии:</h4>
            8-925-231-99-72
            <h4>Приемная Директора:</h4>
            8-499-268-00-05
            <h4>Отдел делопроизводства:</h4>
            8-499-785-25-14
            <h4>Факс:</h4>
            8-499-785-20-82
        </div>
    </div>
    <div class="col-12 col-md-3 z-index-norm">
        <div class="card shadow-sm p-3 text-center">
            <i class="fas fa-map-pin pink-text btn-xl"></i>
            <hr>
            <h4>Адрес:</h4>
            г. Москва, ул. Стромынка, д. 10
        </div>
    </div>
   <div class="col-12 col-md-3 z-index-norm">
        <div class="card shadow-sm p-3 text-center">
            <i class="fas fa-clock pink-text btn-xl"></i>
            <hr>
            <h4>Режим работы:</h4>
            Круглосуточно (Стационар)
        </div>
    </div>
   <div class="col-12 col-md-3 z-index-norm">
        <div class="card shadow-sm p-3 text-center">
            <i class="fas fa-exclamation pink-text btn-xl"></i>
            <hr>
            <h4>Контактный телефон горячей линии психологической помощи:</h4>
            +7(999)353-79-80
        </div>
    </div>
</div>
<div class="text-center font-weight-bold"><h1>Наши филиалы</h1></div>
    <div class="owl-carousel px-3" id="carouselBranches">
        {% for i in branches %}
             <div class="item">
                    <!-- Card Wider -->
                    <div class="card card-cascade wider">

                      <!-- Card image -->
                      <div class="view view-cascade overlay">
                       {% if i.image_title %}
                           <img src="{{ i.image_title.url }}" alt="">
                       {% else %}
                           <img src="/media/no_image.jpg" alt="">
                       {% endif %}
                      </div>

                      <!-- Card content -->
                      <div class="card-body card-body-cascade text-center pb-0">

                        <!-- Title -->
                        <h4 class="card-title"><strong>{{ i.name }}</strong></h4>
                        <!-- Text -->
                        <p class="card-text">{{ i.address }}</p>
                        <p class="card-text">{{ i.phones }}</p>
                        <p class="card-text">{{ i.email }}</p>
                        <!-- Linkedin -->
                        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Twitter -->
                        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                        <!-- Dribbble -->
                        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

                        <!-- Card footer -->
                        <div class="card-footer text-muted text-center mt-4">
                          {{ i.created_at }}
                        </div>

                      </div>

                    </div>
             </div>
        {% endfor %}
    </div>
<div class="container-fluid news-area">
    <div class="text-center"><h2>Наши новости</h2></div>
    <div class="row px-lg-5">
            {% for i in news %}
                 <div class="col-12 col-lg-3 mb-4">
                    <div class="card testimonial-card">
                      <div class="card-up winter-neva-gradient lighten-1"></div>
                          <div class="avatar mx-auto white">
                              {% if i.image_title %}
                                  <img src="{{ i.image_title.url }}" alt="">
                                  {% else %}
                                  <img src="/media/logo-main.png" alt="">
                              {% endif %}
                          </div>
                      <div class="card-body">
                        <!-- Name -->
                        <h5 class="card-title">{{ i.title }}</h5>
                        <hr>
                          <button type="button" class="btn btn-danger btn-rounded">{{ i.created_at|date:"d E Y" }}</button>
                      </div>
                    </div>
                 </div>
            {% endfor %}
    <div class="col-12 mb-4 text-center">
        <a href="{% url 'news' %}"><h4><i class="fas fa-long-arrow-alt-right"></i>
                                    ...БОЛЬШЕ НОВОСТЕЙ...
                                    <i class="fas fa-long-arrow-alt-left"></i></h4>
        </a>
    </div>
    </div>
</div>
<div class="reviews-area">
<div class="text-center"><h2>Отзывы о нашей работе</h2></div>
    <div class="owl-carousel px-lg-5" id="carouselReviews">
        {% for r in reviews %}
             <div class="item">
                    <!-- Card -->
                        <div class="card card-cascade wider">
                          <div class="view view-cascade gradient-card-header tempting-azure-gradient">
                            <h2 class="card-header-title mb-3">{{ r.name }}</h2>
                            <p class="mb-0"><i class="fas fa-calendar mr-2"></i>{{ r.date }}</p>
                          </div>
                          <div class="card-body card-body-cascade text-center story">
                            <p class="card-text">{{ r.content }}</p>
                          </div>
                        </div>
                        <!-- Card -->
             </div>
        {% endfor %}
    </div>
</div>
<div class="implink-area">
    <div class="container">
        <div class="text-center"><h2>Полезная информация</h2></div>
            <div class="owl-carousel" id="carouselImpLink">
                {% for implink in implinks %}
                    <div class="item">
                        <a target="_blank" href="{{ implink.link }}">
                            <div class="card">
                              <div class="view overlay p-2">
                                <img class="card-img-top" src="{{ implink.image_title.url }}"
                                  alt="Card image cap">
                                  <div class="mask rgba-white-slight"></div>
                              </div>
                              <div class="p-2">
                                <h7 class="card-title">{{ implink.content }}</h7>
                                  <hr>
                                  <div class="text-right">
                                        <a class="btn-floating btn-sm btn-secondary"><i class="fas fa-share"></i></a>
                                  </div>
                              </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        <!-- Card Narrower -->
        </div>
    </div>
</div>

